{
    admin 0.0.0.0:2019
    auto_https off
}

{{- if .Sites}}
{{- range .Sites}}
http://{{.Name}} {
    root * {{$.SitesDir}}/{{.Name}}

    file_server {
        hide .DS_Store ._.DS_Store ._*
    }

    encode gzip

    @dotfiles path /.*
    respond @dotfiles 404

    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy strict-origin-when-cross-origin
    }

    log
}

{{- end}}
{{- else}}
:80 {
    respond "No sites enabled" 404
}
{{- end}}