{
    admin 0.0.0.0:2019
    auto_https off
}

{{- if .Sites}}
{{- range .Sites}}
http://{{.Name}} {
    root * {{$.SitesDir}}/{{.Name}}

    encode gzip

    @dotfiles path /.*
    respond @dotfiles 404

    @cssFiles path_regexp css "\.css$"
    header @cssFiles Content-Type "text/css; charset=utf-8"

    @jsFiles path_regexp js "\.js$"
    header @jsFiles Content-Type "application/javascript; charset=utf-8"

    @icoFiles path_regexp ico "\.ico$"
    header @icoFiles Content-Type "image/x-icon"

    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy strict-origin-when-cross-origin
    }

    handle /assets/images/** {
        header Cache-Control "public, max-age=31536000, immutable"
        header Vary "Accept"
        file_server {
            hide .DS_Store ._.DS_Store ._*
        }
    }

    handle {
        try_files {path} {path}.html {path}/index.html
        file_server {
            hide .DS_Store ._.DS_Store ._*
        }
    }

    log
}

{{- end}}
{{- range .WWWEntries}}
http://{{.WWWName}} {
    redir http://{{.Apex}}{uri} permanent
}

{{- end}}
{{- else}}
:80 {
    respond "No sites enabled" 404
}
{{- end}}